<div class="body">
  <h2 class="name">Domestech</h2>
  <div class="promoBody">
    <div class="nav">
      <p> <%= link_to "О нас", about_path %> </p>
      <p> <%= link_to "Блог", posts_path %> </p>
      <p>Сценарий</p>
      <p>Устройства</p>
    </div>
    <div class="promoMain">
      <%= image_tag("1.jpg", :alt => "rss feed") %>
      <h1>Ваш дом <br> хочет поумнеть!</h1>
      <p>Встречайте новый медиапроект об&nbsp;умной технике!
    Мы&nbsp;расскажем, как собрать свою экосистему
    из&nbsp;готовых модулей, подберём устройства
    и&nbsp;интересные сценарии использования.</p>
    <h2>Узнать раньше всех о запуске проекта:</h2>
    <%= render "subscribers/form" %>
    </div>
  </div>
</div>
