/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 64px 115px 32px;
  background-color: #E9EFF1;
  background-image: none;
}

.top_menu a {
  font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
/* identical to box height */
letter-spacing: 0.02em;

color: #000000;
}

.aMain {
  padding-left: 12vw;
  display: flex;
  flex-direction: row;
}

.aMain a {
  padding-left: 6vw;
}

h1 {
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
letter-spacing: 0.02em;

color: #000000;
}