// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com

h2.header {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 33.16px;
  line-height: 40px;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

h2 {

}

.main {
  padding-left: 7vw;
}

.MainImg {
  width: 1340px;
  height: 327px;
  padding-top: 32px;
  padding-bottom: 40px;
}


.NB .NewsTag p{
  // width: 110px;
  font-family: 'Nunito';
  background: #E9EFF1;
border-radius: 20px;
display: flex;
flex-direction: row;
align-items: center;
padding: 3px 10px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;
}

.NB .NewsTag {
  padding-left: 38px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TagN .NewsTag {
  padding-left: 18px;
border-radius: 20px;
  display: flex;
flex-direction: row;
align-items: center;
padding-bottom: 16px;
}

.TagN .NewsTag p{
  display: flex;
flex-direction: row;
align-items: center;
padding: 3px 10px;
  background: #FFFFFF;
border-radius: 20px;
  display: flex;
flex-direction: row;
align-items: center;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;
}

.News .likeCount{
  position: relative;
  right: -260px;
  top: 16px;
  background: #FFFFFF;
  width: 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 4px 4px 14px;
}


.Newss .repCount {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #D8FFE0;
  border-radius: 20px;
  width: 60px;
  padding: 2px;
}

.repCount Img {
  padding-left: 10px;
}

.Newss .vote_count {
  padding: 4px 4px 4px 8px;
}

.News.easy {
  background: #39CA85;
  border-radius: 12px;
  width: 356px;
}


.News.middle {
  background: #FFB660;
  border-radius: 12px;
  width: 356px;
}
.NewsTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  /* or 117% */
  padding-left: 16px;
  
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
}


.News.hard {
  background: #FF6A7C;
  border-radius: 12px;
  width: 356px;
}

.News.very.hard {
  background: #6E63F0;
  border-radius: 12px;
  width: 356px;
}

.NB {
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Price {
  font-family: Nunito;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 19px;
margin-left: 8px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;

  display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
  background: #E9EFF1;
border-radius: 12px;
}
.pMain {
  font-family: Vela Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

letter-spacing: 0.02em;
padding-bottom: 28px;

color: #000000;
}
.vote_count {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
border-radius: 20px;

}

.NB h3 {
  padding: 28px 18px 14px 28px;
  color: #000000;
}

.TP {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding-left: 38px;
padding-top: 50px;
}

.TP span {
  padding-left: 1vw;
}



.Newss {
  padding-top: 26px;
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
}

.NewsDate p{
  font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;

}

.NewsImg {
  width: 229.1px;
  height: 229.1px;
  border-radius: 12px;
}

.tag {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
}

.tag p{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.02em;
  background-color: #E9E9E9;
}


p.ideas {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.02em;

  /* Accent */

  color: #898F83;
}

h3.ideas {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 256px;
}

.IdeasList {
  position: relative;
  display: flex;
  padding-top: 32px;
}

.IdeasPostImg {
  width: 256px;
}

.Ideas {
    padding-right: 32px;
}

.Ideas Img {
  width: 256px;
}

.f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 60px;
}

.f p {
  padding-bottom: 8px;
  padding-right:520px;
}
footer Img {
  width: 64px;
  height: 30px;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
  padding-bottom: 60px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  
  text-align: right;
  letter-spacing: 0.02em;
  
  color: rgba(0, 0, 0, 0.4);
  }

  .IdeasAbout {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;

    /* Accent */

    color: #898F83;
  }
