@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


.body1 {
  // height: 1035px;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  padding-bottom: 200px;
}

.nav1 {
  padding-bottom: 200px;
  font-family: 'Nunito', sans-serif;

}



.mainBody {
  padding-left: 114px;
  font-family: 'Nunito', sans-serif;
  text-align: left;
}


.postBody h1 {
  color: #273A3D;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 40px;
}
.postName {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  padding-right: 100px;
  font-weight: 300;
  padding-top: 100px;
}

.postTitle {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  padding-right: 100px;
  font-weight: 300;
  padding-top: 100px;
}

tbody {
  vertical-align: middle;
}

.btnPost {

  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  padding-right: 100px;
  font-weight: Bold;
}

a {
  text-decoration: none;
  color: #273A3D;
}

.postContent {
  font-family: 'Nunito', sans-serif;
  padding-right: 100px;
  padding-top: 100px;
  font-size: 24px;
  padding-right: 100px;
  font-weight: 300;
}

.newPost {
  font-size: 24px;
  text-decoration: none;
  color: #273A3D;
}
