body {
    background-color: #E9EFF1;
    // padding-top: 14vw;
    // padding-left: 16vw;
  }

h1 {
    padding-bottom: 20px;
}

.field {
    margin-bottom: 20px;
}

.labelr:nth-child(2) {
    padding-left: 8px;
}

.reg .field {
    width: 307px;
height: 39px;
}

.reg .field input {
    padding-left: 20px;
    padding-top: 6px;
    border-radius: 20px;
}

input:-internal-autofill-selected {
    background-color: #E9EFF1 !important;
}
